@model maQx.Models.SetEmailConfirmViewModel
@using maQx.Utilities

<div class="confrim-admin-email-template">

    <div>

        <h1>Confirm your email address</h1>

        <p>
            A confirmation code has been sent to your email address <a href="mailto:@(Model.Email)">@Model.Email</a>. Please enter your confirmation code and click Continue to proceed.
        </p>

        <div>
            @using (Html.BeginForm("Confirm", "App"))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true)
                </div>

                <div>
                    <div class="form-layout">
                        @Html.HiddenFor(m => m.StepCode)
                        <div>
                            @Html.TextBoxFor(m => m.ConfirmationCode, new { @class = "large", @type = "text", required = "required", autofocus = "autofocus", placeholder = "Enter the confirmation code" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmationCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-layout">
                        <div>
                            <input type="submit" value="Continue" class="btn btn-default app-btn" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <p>
           If you want to receive a new confirmation code or like to change your email address, please enter your new email address and click Resend Code to send a new confirmation code.
        </p>

        <div>
            @{Html.RenderPartial("_SubGetEmailConfrimPartial", (maQx.Models.GetEmailConfirmViewModel)Model);}
        </div>
    </div>
</div>
