@model maQx.Models.GetEmailConfirmViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true)
    </div>

    <div>
        <div class="form-layout">
            @Html.HiddenFor(m => m.StepCode)
            @Html.HiddenFor(m => m.ResendActivity)
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "large", @type = "email", required = "required", autofocus = "autofocus", placeholder = "Enter your email address" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-layout">
            <div>
                <input type="submit" value="@(Model.ResendActivity ? "Resend Code" : "Continue")" class="btn btn-default @(Model.ResendActivity ? "inverse-btn" : "app-btn") " />
            </div>
        </div>
    </div>
}