@model maQx.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using InfoType = maQx.Models.ClientInfoType;

<div class="login-index full-height">

    @if (!String.IsNullOrWhiteSpace(ViewBag.ErrorTitle))
    {
        <div class="error-wrapper">
            <div class="error-layout">
                <div class="error-title">@ViewBag.ErrorTitle</div>
                <p class="error-message">@ViewBag.ErrorMessage</p>
            </div>
        </div>
    }
    <div class="login-layout" ng-controller="LoginController as lCtrl">
        <div class="login-form">
            <div class="logo-placeholder"></div>
            <div class="version-placeholder" ng-bind="'version '+ aCtrl.appVersion">version</div>
            <div>
                @using (@Html.BeginForm("", "Login", FormMethod.Post, new { autocomplete = "off", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="login-form-control">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "username", ng_model = "lCtrl.username", required = "required" })
                    </div>
                    <div class="login-form-control">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "password and hit enter", required = "required" })
                    </div>
                    <div class="login-form-control stay-signed-in">
                        @Html.CheckBoxFor(m => m.RememberMe, new { ng_model = "lCtrl.rememberMe" })
                        @Html.LabelFor(m => m.RememberMe, "stay signed in")
                    </div>

                    <div class="login-form-control">
                        @Html.HiddenFor(m => m._ReturnUrl, new { @readonly = "readonly" })
                        <input type="submit" />
                    </div>

                    <div>
                        @if (ViewBag.Info != null)
                        {
                            var Info = ViewBag.Info as maQx.Models.ClientInfo;

                            if (Info.Type == InfoType.Error)
                            {
                                <div class="login-form-error">
                                    @Info.Message
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <footer>
        <div>&copy; 2014 - 2015 IP Rings Ltd. All rights reserved.</div>
    </footer>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular-login-controller")
}
