@model maQx.Models.Die

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Code</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Code</div></td>
        </tr>
        <tr>
            <td><div>Description</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Description</div></td>
        </tr>
        <tr>
            <td><div>Life Count</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.MaxCount</div></td>
        </tr>
        <tr>
            <td><div>Tolerance</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Tolerance</div></td>
        </tr>
        <tr>
            <td><div>Sink Count</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.MaxSink</div></td>
        </tr>
    </tbody>
</table>



