@model maQx.Models.DepartmentDivisionViewModel
@{
    Layout = "~/Views/Shared/_FramePage.cshtml";
}

@{
    var Controller = @ViewContext.RouteData.Values["controller"].ToString() + "Controller";
    var Condition = Controller == "DepartmentUsersController";
    var Key = Condition ? "Id" : "ID";
    var Name = Condition ? "Firstname" : "Name";
}

<div class="app-generic-template detail-template">
    <div class="modular-layout" ng-controller="@Controller as dCtrl">
        <div class="css-fade">
            <div class="modular-controls">
                @if (Model != null && Model.Divisions.Count() > 1)
                {
                    <div class="select-control">
                        <div>
                            Select Division
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.Division, Model.Divisions, htmlAttributes: new { ng_model = "dCtrl.division", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()" })
                        </div>
                    </div>

                    <div class="pull-right">
                        <label><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" aria-controls="DataTables_Table_0" ng-model="search"></label>
                    </div>

                }

            </div>
        </div>
        <div>
            @if (Model != null && Model.Divisions.Count() > 1)
            {
                <div ng-show="dCtrl.proto.showWarning()" class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> Please select a division from the list</div>
                <div class="department-menu-layer">

                    <div class="circle-loader" ng-show="dCtrl.proto.isLoading()">
                        <div class="loader-animate"></div>
                        <div><h3>Loading..</h3></div>
                    </div>

                    <div class="css-fade" ng-show="dCtrl.proto.showContent()">
                        <div class="menu-info-text">
                            <span class="fa fa-info-circle"></span><span class="ui-bold" ng-bind="dCtrl.proto.getMenuCount()"></span> of <span class="ui-bold" ng-bind="dCtrl.proto.getMappedMenuCount()"></span> menus mapped
                        </div>

                        <div ng-repeat="item in dCtrl.divisionDepartment | select:dCtrl.division:'division':'0' track by item.division">
                            <div class="menu-content" ng-repeat="node in item.departmentList | filter:search track by node.department.Key">
                                <div><span ng-bind="node.department.Name"></span> <span class="fa fa-edit pull-right" data-toggle="tooltip" title="Manage Menus" ng-click="dCtrl.openMenus('lg', node.department)"></span></div>
                                <div>
                                    <ul ng-hide="dCtrl.proto.showMenus(node)">
                                        <li class="text-center">
                                            No menus added
                                        </li>
                                    </ul>
                                    <ul ng-show="dCtrl.proto.showMenus(node)">
                                        <li ng-repeat="selected in node.entites | filter:search track by selected.@Key">
                                            <span ng-bind="selected.@Name"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @RenderBody()

                    </div>
                </div>
            }
            else
            {
                <div class="active-warning-info">
                    <h3 class="info-title">
                        <span class="fa-stack title-icon yellow">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span> No divisions were created yet.
                    </h3>
                    <p>
                        Departments and its menus are subsets of a division. @Html.ActionLink("Create a division", "Create", "Divisions") to process further.
                    </p>
                </div>
            }
        </div>

        <script type="text/ng-template" id="modal-selector.html">
            <div class="modal-header">
                <h3 class="modal-title">Menu Collection</h3>
                <div class="pull-right">
                    <label class="modal-search"><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" ng-model="entitySearch.menu.Name"></label>
                </div>
            </div>
            <div class="modal-body">
                <p class="modal-content-title">Select menus for <span class="ui-bold" ng-bind="items.department.Name"></span></p>
                <ul class="menu-selector-list">
                    <li ng-repeat="element in entityList | filter:entitySearch track by element.entity.@Key">
                        <input type="checkbox" ng-disabled="!isSelectable(element)" ng-model="element.selected" id="{{element.entity.@Key}}" /><label for="{{element.entity.@Key}}" ng-bind="element.entity.@Name"></label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="pull-left statusText" ng-show="Loading()">
                    Updating menus...
                </div>
                <button class="btn btn-primary app-btn" ng-disabled="Loading()" ng-click="ok()">Save</button>
                <button class="btn btn-warning inverse-btn" ng-disabled="Loading()" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        @section Scripts {

            @RenderSection("Scripts", required: false)
        }

    </div>
</div>

