@using InfoType = maQx.Models.ClientInfoType;
@helper Alert(string alertClass, string type)
{
    <div class="alert alert-@alertClass alert-dismissible init-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>@type!</strong> @(ViewBag.Info != null ? ViewBag.Info.Message : "")
    </div>
}
<!DOCTYPE html>
<html ng-app="sectionApp" class="ng-cloak">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script>
        (function () {
            if (window.self === window.top) {
                window.location.href = "/#" + window.self.location.pathname;
            }
        })();
    </script>
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/fonts.css")" />

    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="frame-layout">
        <div ng-controller="AlertController as aCtrl" class="frame-alert">
            <div class="alert display-none" ng-show="aCtrl.isShow()" ng-class="aCtrl.alertType()" role="alert">
                <button type="button" class="close" ng-click="aCtrl.close()"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><i class="fa" ng-class="aCtrl.getIcon()"></i><span ng-bind="aCtrl.type"></span>!</strong> <span ng-bind="aCtrl.message"></span>
            </div>
        </div>
        <div class="init-alert-panel">
            @if (ViewBag.Info != null)
            {
                var Info = ViewBag.Info as maQx.Models.ClientInfo;

                switch (Info.Type)
                {
                    case InfoType.Error: @Alert("danger", "Error") break;
                    case InfoType.Success: @Alert("success", "Success") break;
                    case InfoType.Info: @Alert("info", "Info") break;
                    case InfoType.Warning: @Alert("warning", "Warning") break;
                }
            }
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(window).on('beforeunload', function () {
            console.log(window.location.pathname);
        });
    </script>
</body>
</html>
