<!DOCTYPE html>
<html ng-app="orangeApp" ng-controller="AppController as aCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="aCtrl.getTitle()"></title>
    <script>
        (function () {
            if (window.self !== window.top) {
                window.top.location.href = window.self.location.href;
            }
        })();
    </script>
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fonts/fonts.css")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="full-height app-scope">
    <div class="page-layout" ng-controller="PageController as pCtrl">
        <div class="page-cover" ng-show="pCtrl.isPageLoading()"></div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
   
</body>
</html>
