@model maQx.Models.Machine

<table class="table table-responsive detail-table">
    <tbody>
        <tr>
            <td><div>Machine Type</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.MachineType.ToString()</div></td>
        </tr>
        <tr>
            <td><div>Code</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Code</div></td>
        </tr>
        <tr>
            <td><div>Description</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.Description</div></td>
        </tr>
        <tr>
            <td><div>Min Load</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.MinLoad</div></td>
        </tr>
        <tr>
            <td><div>Max Load</div></td>
            <td>:</td>
            <td><div class="ui-bold">@Model.MaxLoad</div></td>
        </tr>
    </tbody>
</table>

