@model maQx.Models.ProductRawMaterialViewModel


@{
    Layout = "~/Views/Shared/_FramePage.cshtml";
}


<div class="app-generic-template detail-template">
    <div class="modular-layout" ng-controller="ProductRawMaterialController as dCtrl">

        @if (Model != null && Model.Products.Count() <= 1)
        {
            <div class="active-warning-info">
                <h3 class="info-title">
                    <span class="fa-stack title-icon yellow">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i>
                    </span> No products were created yet.
                </h3>
                <p>
                    Product - Raw Materials needs list of products. @Html.ActionLink("Create a product", "Create", "Products") to process further.
                </p>
            </div>
        }
        else if (Model != null && Model.RawMaterials.Count() <= 1)
        {
            <div class="active-warning-info">
                <h3 class="info-title">
                    <span class="fa-stack title-icon yellow">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i>
                    </span> No raw material were created yet.
                </h3>
                <p>
                    Product - Raw Materials needs list of raw materials. @Html.ActionLink("Create a raw material", "Create", "RawMaterials") to process further.
                </p>
            </div>
        }
        else
        {

            <div class="css-fade" ng-hide="dCtrl.proto.formEdit()">
                <div class="modular-controls">
                    <div class="select-control">
                        <div>
                            Product
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.Product, Model.Products, htmlAttributes: new { ng_model = "dCtrl.product", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()", return_json = "dCtrl.addProducts(value)" })
                        </div>
                    </div>
                    <div class="select-control">
                        <div>
                            Raw Material
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.RawMaterial, Model.RawMaterials, htmlAttributes: new { ng_model = "dCtrl.rawMaterial", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()" })
                        </div>
                    </div>
                    <div class="pull-right">
                        <label><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" aria-controls="DataTables_Table_0" ng-model="dCtrl.search"></label>
                    </div>
                </div>
                <div>
                    <div>
                        <div ng-show="dCtrl.proto.isLoaded()">
                            <ul class="material-list-view css-fade pull-control">
                                <li ng-repeat="product in filteredProducts = (dCtrl.proto.getEntityList() | select:dCtrl.product:'value':'0' | filter:dCtrl.search | orderBy:'text') track by product.value">
                                    <div>
                                        <span class="fa fa-angle-double-right fa-lg"></span><span class="ui-bold" ng-bind="product.text"></span>
                                    </div>
                                    <div class="pull-right">
                                        <a anchor-if="dCtrl.allowCreate" ng-show="dCtrl.proto.allowCreate()" anchor-url="dCtrl.loadUrl('@HttpUtility.UrlEncode(Url.Action("Create","ProductRawMaterials"))', product)" class="btn btn-sm btn-primary app-btn btn-disabled control-btn fa-clear"><span class="fa fa-plus"></span></a>
                                    </div>
                                    <ul>
                                        <li ng-repeat="rawMaterial in (product.rawMaterialList | select:dCtrl.rawMaterial:'RawMaterial.Key':'0' | filter:dCtrl.search | orderBy:'RawMaterial.Description') track by rawMaterial.Key">
                                            <div>
                                                <span class="fa fa-chevron-right "></span>
                                                <span>
                                                    <span ng-bind="rawMaterial.RawMaterial.Code"></span> - <span ng-bind="rawMaterial.RawMaterial.Description"></span> -
                                                </span>
                                                <span class="colored">
                                                    <span ng-bind="rawMaterial.InputQuantity"></span> <span ng-bind="rawMaterial.SelectedUnitString"></span>
                                                </span>
                                            </div>
                                            <div class="item-controls">
                                                <a class="tp-edit" anchor-if="dCtrl.allowEdit" anchor-url="dCtrl.loadItemUrl('@HttpUtility.UrlEncode(Url.Action("Edit","ProductRawMaterials"))', rawMaterial)" ng-show="dCtrl.proto.allowEdit()">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                                <a class="tp-delete" anchor-if="dCtrl.allowEdit" anchor-url="dCtrl.loadItemUrl('@HttpUtility.UrlEncode(Url.Action("Delete","ProductRawMaterials"))', rawMaterial)" ng-show="dCtrl.proto.allowDelete()">
                                                    <span class="fa fa-trash-o"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="text-center" ng-show="!filteredProducts.length">No records were found that match the specified search.</li>
                            </ul>
                            <div class="text-right material-list-view-paginate" ng-show="dCtrl.proto.showPagination()">
                                <pagination total-items="dCtrl.proto.totalItems()" items-per-page="dCtrl.itemPerPage" ng-model="dCtrl.currentPage"></pagination>
                                <div class="pull-left entity-detail">Showing <span class="ui-bold" ng-bind="dCtrl.proto.startItem()"></span> to <span class="ui-bold" ng-bind="dCtrl.proto.pageItem()"></span> of <span class="ui-bold" ng-bind="dCtrl.proto.totalItems()"></span> entries</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/product-raw-material-controller")
            }
        }
    </div>
</div>