@model maQx.Models.ProductRawMaterialViewModel


@{
    Layout = "~/Views/Shared/_FramePage.cshtml";
}


<div class="app-generic-template detail-template">
    <div class="modular-layout" ng-controller="ProductRawMaterialController as dCtrl">

        @if (Model != null && Model.Products.Count() <= 1)
        {
            <div class="active-warning-info">
                <h3 class="info-title">
                    <span class="fa-stack title-icon yellow">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i>
                    </span> No products were created yet.
                </h3>
                <p>
                    Product - Raw Materials needs list of products. @Html.ActionLink("Create a product", "Create", "Products") to process further.
                </p>
            </div>
        }
        else if (Model != null && Model.RawMaterials.Count() <= 1)
        {
            <div class="active-warning-info">
                <h3 class="info-title">
                    <span class="fa-stack title-icon yellow">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i>
                    </span> No raw material were created yet.
                </h3>
                <p>
                    Product - Raw Materials needs list of raw materials. @Html.ActionLink("Create a raw material", "Create", "RawMaterials") to process further.
                </p>
            </div>
        }
        else
        {
            <div class="modular-form generic-template generic-form css-fade detail-template" ng-show="dCtrl.proto.formEdit()">
                <form>
                    <div class="admin-form">
                        <div ng-include="dCtrl.proto.getPage()"></div>
                        <div class="generic-form-bottom-tools">
                            <a href="#" show-when="!dCtrl.isLoading" ng-click="dCtrl.proto.closeEdit()" class="btn btn-sm">Back to list</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="css-fade" ng-hide="dCtrl.proto.formEdit()">
                <div class="modular-controls">
                    <div class="select-control">
                        <div>
                            Product
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.Product, Model.Products, htmlAttributes: new { ng_model = "dCtrl.product", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()" })
                        </div>
                    </div>
                    <div class="select-control">
                        <div>
                            Raw Material
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.RawMaterial, Model.RawMaterials, htmlAttributes: new { ng_model = "dCtrl.rawMaterial", ng_disabled = "dCtrl.proto.isLoading()", ng_change = "dCtrl.proto.change()" })
                        </div>
                    </div>
                    <div class="pull-right">
                        <label><span class="input-group-addon addon-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span><input type="search" class="form-control input-sm" placeholder="Search" aria-controls="DataTables_Table_0" ng-model="dCtrl.search"></label>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="circle-loader  css-fade" ng-show="dCtrl.proto.isLoading()">
                            <div class="loader-animate"></div>
                            <div><h3>Loading..</h3></div>
                        </div>
                        <div ng-show="dCtrl.proto.isLoaded()">
                            <ul class="material-list-view css-fade pull-control">
                                <li ng-repeat="product in dCtrl.proto.getEntityList() | select:dCtrl.product:'Key':'0' | filter:dCtrl.search | orderBy:Description track by product.Key">
                                    <div>
                                        <span class="fa fa-angle-double-right fa-lg"></span><span class="ui-bold" ng-bind="product.Description"></span>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" ng-click="dCtrl.proto.add(product)" class="btn btn-sm app-btn fa-clear"><span class="fa fa-plus"></span></button>
                                    </div>
                                    <ul>
                                        <li>
                                            <div>
                                                <span class="fa fa-chevron-right "></span><span>Hello</span>
                                            </div>
                                            <div class="item-controls">
                                                <div class="tp-delete" ng-click="dCtrl.proto.del(item)">
                                                    <span class="fa fa-trash-o"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="text-right material-list-view-paginate" ng-show="dCtrl.proto.showPagination()">
                                <pagination total-items="dCtrl.proto.totalItems()" items-per-page="dCtrl.itemPerPage" ng-model="dCtrl.currentPage"></pagination>
                                <div class="pull-left entity-detail">Showing <span class="ui-bold" ng-bind="dCtrl.proto.startItem()"></span> to <span class="ui-bold" ng-bind="dCtrl.proto.pageItem()"></span> of <span class="ui-bold" ng-bind="dCtrl.proto.totalItems()"></span> entries</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/product-raw-material-controller")

                <script type="text/ng-template" id="create.html">
                    <h1>Add raw material to product</h1>
                    <p>Adds the selected to the product <span ng-bind="dCtrl.selectedProduct.Description"></span></p>
                    <div class="admin-form-layout">
                        <div class="form-group">
                            <div>
                                <div>
                                    <select ng-options="item.subItem as item.label for item in values track by item.id" ng-model="selected"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div>
                                    <input type="button" value="Create" disable-when="dCtrl.isLoading" ng-click="dCtrl.proto.save()" class="btn btn-default app-btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="edit.html">
                    <h1>Edit department</h1>
                    <p>Editing a department will not affect other entities</p>
                    <div class="admin-form-layout">
                        <div class="form-group">
                            <div>
                                <div>
                                    <input type="text" ng-model="dCtrl.department.Name" placeholder="Department Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div>
                                    <input type="button" value="Edit" disable-when="dCtrl.isLoading" ng-click="dCtrl.proto.update()" class="btn btn-default btn-warning" />
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="delete.html">
                    <h1>Delete department</h1>
                    <h3 class="delete-detail">
                        Are you sure you want to delete this?
                    </h3>
                    <table class="table table-responsive detail-table">
                        <tbody>
                            <tr>
                                <td><div>Name</div></td>
                                <td>:</td>
                                <td><div class="ui-bold" ng-bind="dCtrl.department.Name"></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="admin-form-layout">
                        <div class="form-group">
                            <div>
                                <div>
                                    <input type="button" value="Yes, Delete" disable-when="dCtrl.isLoading" ng-click="dCtrl.proto.remove()" class="btn btn-default btn-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
            }
        }
    </div>
</div>